<?xml version="1.0" encoding="UTF-8" ?>

<clubPenguin>
	<rooms>
	    <room name="town" member="false" capacity="80" id="1" external="100" />
	    <room name="coffee" member="false" capacity="80" id="2" external="110" />
	    <room name="book" member="false" capacity="80"  id="3" external="111" />
	    <room name="dance" member="false"  capacity="80" id="4" external="120" />
	    <room name="lounge" member="false"  capacity="80" id="5" external="121" />
	    <room name="eco" member="false"  capacity="80" id="6" external="122" />
	    <room name="shop" member="false"  capacity="80" id="7" external="130" />
	    <room name="village" member="false"  capacity="80" id="8" external="200" />
	    <room name="agentlobbysolo" member="false"  capacity="80" id="9" external="211" />
	    <room name="agentlobbymulti" member="false"  capacity="80" id="10" external="212" />
	    <room name="agentvr" member="false"  capacity="80" id="105" external="213" />
	    <room name="lodge" member="false"  capacity="80" id="11" external="220" />
	    <room name="attic" member="false"  capacity="80" id="12" external="221" />
	    <room name="mtn" member="false"  capacity="80" id="13" external="230" />
	    <room name="plaza" member="false"  capacity="80" id="14" external="300" />
	    <room name="pet" member="false"  capacity="80" id="15" external="310" />
	    <room name="dojo" member="false"  capacity="80" id="16" external="320" />
	    <room name="dojoext" member="false"  capacity="80" id="17" external="321" />
	    <room name="dojohide" member="false"  capacity="80" id="18" external="322" />
	    <room name="agentcom" member="false"  capacity="80" id="19" external="323" />
	    <room name="pizza" member="false"  capacity="80" id="20" external="330" />
	    <room name="stage" member="false"  capacity="80" id="21" external="340" />
	    <room name="beach" member="false"  capacity="80" id="22" external="400" />
	    <room name="light" member="false"  capacity="80" id="23" external="410" />
	    <room name="beacon" member="false"  capacity="80" id="24" external="411" />
	    <room name="ship" member="false"  capacity="80" id="25" external="420" />
	    <room name="shiphold" member="false"  capacity="80" id="26" external="421" />
	    <room name="shipquarters" member="false"  capacity="80" id="27" external="422" />
	    <room name="shipnest" member="false"  capacity="80" id="28" external="423" />
	    <room name="dock" member="false"  capacity="80" id="29" external="800" />
	    <room name="forts" member="false"  capacity="80" id="30" external="801" />
	    <room name="rink" member="false"  capacity="80" id="31" external="802" />
	    <room name="agent" member="false"  capacity="80" id="32" external="803" />
	    <room name="boiler" member="false"  capacity="80" id="33" external="804" />
	    <room name="berg" member="false"  capacity="80" id="34" external="805" />
	    <room name="cave" member="false"  capacity="80" id="35" external="806" />
	    <room name="shack" member="false"  capacity="80" id="36" external="807" />
	    <room name="mine" member="false"  capacity="80" id="37" external="808" />
	    <room name="forest" member="false"  capacity="80" id="38" external="809" />
	    <room name="cove" member="false"  capacity="80" id="39" external="810" />
	    <room name="boxdimension" member="false"  capacity="80" id="40" external="811" />
	    <room name="dojofire" member="true"  capacity="80" id="41" external="812" />
	    <room name="cavemine" member="false"  capacity="80" id="42" external="813" />
	    <room name="lake" member="false"  capacity="80" id="43" external="814" />
	    <room name="underwater" member="true"  capacity="80" id="44" external="815" />
	    <room name="dojowater" member="false"  capacity="80" id="45" external="816" />
	    <room name="party1" member="false"  capacity="80" id="46" external="851" />
	    <room name="party2" member="true"  capacity="80" id="47" external="852" />
	    <room name="party3" member="true"  capacity="80" id="48" external="853" />
	    <room name="party4" member="true"  capacity="80" id="49" external="854" />
	    <room name="party5" member="true"  capacity="80" id="50" external="855" />
	    <room name="party6" member="true"  capacity="80" id="51" external="856" />
	    <room name="party7" member="true"  capacity="80" id="52" external="857" />
	    <room name="party8" member="true"  capacity="80" id="53" external="858" />
	    <room name="party9" member="true"  capacity="80" id="54" external="859" />
	    <room name="party10" member="true"  capacity="80" id="55" external="860" />
	    <room name="party11" member="true"  capacity="80" id="56" external="861" />
	    <room name="party12" member="true"  capacity="80" id="57" external="862" />
	    <room name="party13" member="true"  capacity="80" id="58" external="863" />
	    <room name="party14" member="true"  capacity="80" id="59" external="864" />
	    <room name="party15" member="true"  capacity="80" id="60" external="865" />
	    <room name="party16" member="true"  capacity="80" id="61" external="866" />
	    <room name="party17" member="true"  capacity="80" id="62" external="867" />
	    <room name="party18" member="true"  capacity="80" id="63" external="868" />
	    <room name="party" member="true"  capacity="80" id="64" external="899" />
	</rooms>
</clubPenguin>